/*-- scss:defaults --*/
$presentation-h1-font-size: 2em;

$presentation-font-size-root: 30px;

/* file: style.css */
.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}