20240216_bdd évènements sanitaires.xlsx
Format_données.csv
Format_données.xlsx
PARAGE 2022.csv
Parage 2023.csv
condition_naiss.txt
controle_elem.txt
extra_femia_20240415.csv
genea.txt
index.txt
list_anim.txt
list_elev.txt
mammites.txt
mvt.txt
production.txt
rec_final.csv
lac.csv
